@import "card.css";

body {
    background-image: url(../img/background.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    body {
        background: #ffffff;
    }
}

.card-holder {
    flex-direction: column;
    justify-content: left;
}

