main, #orders {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

main {
    flex-direction: column;
}

#orders {
    flex-direction: row;
    flex-wrap: wrap;
}

.order {
    display: flex;
    flex-direction: column;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 0 0.5rem #111;
    width: 300px;
}